*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #f5f7fb;
    font-family: Arial, Helvetica, sans-serif;
    color: #222;
}

/* NAVBAR */
.navbar{
    width: 100%;
    background-color: #1e293b;
    padding: 18px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.icon{
    width: 180px;
}

.logo{
    color: #ff7200;
    font-size: 34px;
    font-weight: bold;
}

.menu ul{
    list-style: none;
    display: flex;
    gap: 28px;
    flex-wrap: wrap;
}

.menu ul li a{
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    transition: 0.3s ease;
}

.menu ul li a:hover{
    color: #ff7200;
}

.menu ul li a.active{
    color: #ff7200;
}

.home-section{
    width: 100%;
    min-height: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #0f172a, #1d4ed8);
    padding: 40px;
}

.home-content{
    text-align: center;
    max-width: 800px;
}

.home-content h1{
    color: #fff;
    font-size: 60px;
    margin-bottom: 20px;
}

.home-content h1 span{
    color: #ff7200;
}

.home-content p{
    color: #e2e8f0;
    font-size: 20px;
    line-height: 32px;
    margin-bottom: 30px;
}

.home-buttons{
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.main-btn,
.secondary-btn,
.card-btn,
.form-btn{
    border: none;
    border-radius: 8px;
    height: 45px;
    padding: 0 24px;
    cursor: pointer;
    font-weight: bold;
    transition: 0.3s ease;
}

.main-btn{
    background-color: #ff7200;
}

.main-btn a{
    text-decoration: none;
    color: #000;
}

.main-btn:hover{
    background-color: #ffa14a;
    transform: translateY(-2px);
}

.secondary-btn{
    background-color: #fff;
}

.secondary-btn a{
    text-decoration: none;
    color: #1e293b;
}

.secondary-btn:hover{
    background-color: #e2e8f0;
    transform: translateY(-2px);
}

/* COMMON TITLES */
.section-title{
    text-align: center;
    font-size: 36px;
    margin-bottom: 35px;
}

.section-title span{
    color: #ff7200;
}

.page-banner{
    background: linear-gradient(135deg, #ffffff, #dbeafe);
    text-align: center;
    padding: 50px 20px;
    border-bottom: 2px solid #e5e7eb;
}

.page-banner h1{
    font-size: 46px;
    color: #1e293b;
    margin-bottom: 10px;
}

.page-banner h1 span{
    color: #ff7200;
}

.page-banner p{
    color: #475569;
    font-size: 18px;
}

/* FEATURES */
.features-section{
    width: 1200px;
    max-width: 95%;
    margin: 60px auto;
}

.features-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
}

.feature-card{
    background-color: #fff;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 4px 14px rgba(218, 59, 59, 0.08);
    transition: 0.3s ease;
}

.feature-card:hover{
    transform: translateY(-5px);
}

.feature-card h3{
    color: #1e293b;
    margin-bottom: 12px;
}

.feature-card p{
    color: #555;
    line-height: 26px;
}

/* CATEGORIES */
.highlight-section{
    width: 1200px;
    max-width: 95%;
    margin: 60px auto;
}

.category-grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.category-box{
    background: linear-gradient(135deg, #ffedd5, #fde68a);
    color: #1e293b;
    padding: 25px;
    border-radius: 12px;
    text-align: center;
    font-weight: bold;
    box-shadow: 0 4px 10px rgba(0,0,0,0.08);
    transition: 0.3s ease;
}

.category-box:hover{
    transform: scale(1.03);
}

/* COURSES PAGE */
.courses-page-section{
    width: 1200px;
    max-width: 95%;
    margin: 50px auto;
}

.courses-grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px;
}

.course-card{
    background-color: #fff;
    padding: 15px;
    border-radius: 12px;
    box-shadow: 0 4px 14px rgba(0,0,0,0.08);
    transition: 0.3s ease;
}

.course-card:hover{
    transform: translateY(-6px);
}

.course-card img{
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: 10px;
}

.course-title{
    font-weight: bold;
    font-size: 18px;
    margin-top: 14px;
    line-height: 26px;
}

.course-instructor{
    color: #666;
    margin-top: 10px;
}

.course-price{
    font-size: 22px;
    font-weight: bold;
    margin-top: 10px;
}

.course-price span{
    color: #999;
    font-size: 15px;
}

.course-rating{
    margin-top: 10px;
    color: #333;
}

.card-btn{
    width: 100%;
    background-color: #ff7200;
    margin-top: 15px;
}

.card-btn a{
    text-decoration: none;
    color: #000;
}

.card-btn:hover{
    background-color: #ffa14a;
}


.details-section{
    width: 1200px;
    max-width: 95%;
    margin: 50px auto;
}

.details-box{
    display: grid;
    grid-template-columns: 1fr 1.2fr;
    gap: 30px;
    background-color: #fff;
    padding: 25px;
    border-radius: 14px;
    box-shadow: 0 4px 14px rgba(0,0,0,0.08);
}

.details-image img{
    width: 100%;
    border-radius: 12px;
    height: 100%;
    object-fit: cover;
}

.details-content h2{
    color: #1e293b;
    margin-bottom: 15px;
    font-size: 32px;
}

.detail-text{
    line-height: 28px;
    color: #555;
    margin-bottom: 15px;
}

.details-content p{
    margin-bottom: 10px;
}

.details-content h3{
    margin-top: 20px;
    margin-bottom: 10px;
    color: #1e293b;
}

.curriculum{
    margin-left: 20px;
    margin-bottom: 20px;
}

.curriculum li{
    margin-bottom: 8px;
}

/* REGISTER PAGE */
.register-section{
    width: 1200px;
    max-width: 95%;
    margin: 50px auto;
}

.forms-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
}

.form-box{
    background-color: #1e293b;
    padding: 25px;
    border-radius: 14px;
    box-shadow: 0 4px 14px rgba(0,0,0,0.08);
}

.form-title{
    background-color: #fff;
    color: #ff7200;
    text-align: center;
    padding: 12px;
    border-radius: 10px;
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 20px;
}

.form-box form{
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.form-box input,
.contact-form-box input,
.contact-form-box textarea{
    padding: 12px;
    border: 1px solid #475569;
    border-radius: 8px;
    background-color: #0f172a;
    color: #fff;
    outline: none;
}

.form-box input::placeholder,
.contact-form-box input::placeholder,
.contact-form-box textarea::placeholder{
    color: #cbd5e1;
}

.form-btn{
    background-color: #ff7200;
}

.form-btn:hover{
    background-color: #ffa14a;
}

/* CONTACT PAGE */
.contact-section{
    width: 1200px;
    max-width: 95%;
    margin: 50px auto;
}

.contact-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
}

.contact-info{
    background-color: #fff;
    padding: 25px;
    border-radius: 14px;
    box-shadow: 0 4px 14px rgba(0,0,0,0.08);
}

.contact-info h2{
    color: #1e293b;
    margin-bottom: 20px;
}

.contact-info p{
    margin-bottom: 15px;
    line-height: 28px;
}

.contact-form-box{
    background-color: #1e293b;
    padding: 25px;
    border-radius: 14px;
    box-shadow: 0 4px 14px rgba(0,0,0,0.08);
}

.contact-form-box form{
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.contact-form-box textarea{
    resize: none;
}

/* FOOTER */
.footer{
    margin-top: 50px;
    background-color: #0f172a;
    color: #fff;
    text-align: center;
    padding: 20px;
}

/* RESPONSIVE */
@media(max-width: 992px){
    .features-grid{
        grid-template-columns: 1fr;
    }

    .category-grid{
        grid-template-columns: repeat(2, 1fr);
    }

    .courses-grid{
        grid-template-columns: repeat(2, 1fr);
    }

    .details-box{
        grid-template-columns: 1fr;
    }

    .forms-container{
        grid-template-columns: 1fr;
    }

    .contact-container{
        grid-template-columns: 1fr;
    }

    .home-content h1{
        font-size: 46px;
    }
}

@media(max-width: 576px){
    .navbar{
        padding: 18px 20px;
        flex-direction: column;
        gap: 15px;
    }

    .menu ul{
        justify-content: center;
        gap: 15px;
    }

    .courses-grid{
        grid-template-columns: 1fr;
    }

    .category-grid{
        grid-template-columns: 1fr;
    }

    .home-content h1{
        font-size: 36px;
    }

    .page-banner h1{
        font-size: 34px;
    }

    .section-title{
        font-size: 28px;
    }
}
/* LOGIN / REGISTER TOGGLE PAGE */
.auth-section{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 60px 20px;
}

.auth-box{
    width: 500px;
    max-width: 100%;
    background-color: #1e293b;
    padding: 30px;
    border-radius: 14px;
    box-shadow: 0 4px 14px rgba(0,0,0,0.08);
}

.form-container{
    display: block;
}

.hidden-form{
    display: none;
}

.form-container form{
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.form-container input{
    padding: 12px;
    border: 1px solid #475569;
    border-radius: 8px;
    background-color: #0f172a;
    color: #fff;
    outline: none;
}

.form-container input::placeholder{
    color: #cbd5e1;
}

.switch-text{
    margin-top: 18px;
    text-align: center;
    color: #fff;
    font-size: 15px;
}

.switch-text span{
    color: #ff7200;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s ease;
}

.switch-text span:hover{
    text-decoration: underline;
}